:root {
  /** Cores globais personalizadas */
  --ion-color-primary: #2563eb;
  --ion-color-primary-rgb: 37, 99, 235;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #2157cf;
  --ion-color-primary-tint: #3c74ed;

  --ion-color-secondary: #10b981;
  --ion-color-secondary-rgb: 16, 185, 129;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0e9f71;
  --ion-color-secondary-tint: #28c291;

  --ion-color-tertiary: #a855f7;
  --ion-color-tertiary-rgb: 168, 85, 247;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #944bda;
  --ion-color-tertiary-tint: #b169f8;

  --ion-color-success: #16a34a;
  --ion-color-warning: #f59e0b;
  --ion-color-danger: #ef4444;

  /** Propriedades customizadas para cartões e raios */
  --card-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  --radius-md: 12px;
  --radius-lg: 16px;
}
